@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Video Store</h1>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
            <li>@Html.ActionLink("Movies", "List", "Movies")</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>